/* Inspired by FlatterFX theme from http://www.guigarage.com/javafx-themes/flatter/ */

.root {
    -light: rgb(205, 210, 215);
    -dark: rgb(47.0, 52.0, 57.0);
    -light-text: rgb(180, 185, 190);
}

.text {
    -fx-font-smoothing-type: lcd;
}

.menu-item {
    -fx-padding: 4 12 4 18;
}

.recording-list .scroll-bar:vertical .increment-button,
.recording-list .scroll-bar:vertical .decrement-button {
    -fx-padding: 5;
}

.recording-list .placeholder-message {
    -fx-font-size: 1.5em;
    -fx-text-fill: -light-text;
}

.preference-header {
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 0;
}

.removing-soon {
    -fx-font-weight: bold;
    -fx-text-fill: goldenrod;
}

.removing-today {
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.recording-progress-indicator {
/*    -fx-background-color: green; */
}
/*
.recording-progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color: -light;
    -fx-padding: 0.0;
}

.recording-progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:  -dark,  derive(-dark, 50.0%);
    -fx-background-insets: 0.0, 0.4em;
    -fx-padding: 1.0em;
}
*/