/* Inspired by FlatterFX theme from http://www.guigarage.com/javafx-themes/flatter/ */

.root {
    -light: rgb(205, 210, 215);
    -dark: rgb(47.0, 52.0, 57.0);
    -light-text: rgb(180, 185, 190);
    -medium-text: rgb(130, 135, 140);
}

.text {
    -fx-font-smoothing-type: lcd;
}

.menu-item {
    -fx-padding: 4 12 4 18;
}

.recording-list .scroll-bar:vertical .increment-button,
.recording-list .scroll-bar:vertical .decrement-button {
    -fx-padding: 5;
}

.recording-list .placeholder-message {
    -fx-font-size: 1.5em;
    -fx-text-fill: -light-text;
}

.status-unavailable .tree-table-cell {
    -fx-text-fill: -medium-text;
}

.status-unavailable:focused .tree-table-cell {
    -fx-text-fill: white;
}

.status-finished .tree-table-cell {
    -fx-text-fill: -medium-text;
}

.status-finished:focused .tree-table-cell {
    -fx-text-fill: white;
}

.recording-list-row .tree-table-cell .progress-indicator:indeterminate {
    -fx-progress-color: green;
}

.recording-list-row:focused .tree-table-cell .progress-indicator:indeterminate {
    -fx-progress-color: white;
}

.preference-header {
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 0;
}

.removing-soon {
    -fx-font-weight: bold;
    -fx-text-fill: goldenrod;
}

.removing-today {
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
}
